html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;   
}

h1 {
    display: block;
    margin: 0.65em 0;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.75em;
    font-weight: bold;
}

h3 {
    display: block;
    margin-block-start: 1.45em;
    margin-block-end: 1.45em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.25em;
    font-weight: bold;
}

h5 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1em;
    font-weight: bold;
}

h6 {
    display: block;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1em;
    font-weight: normal;
}

ul, ol, li, dl, dt, dd, hgroup, blockquote, figure,
form, fieldset, input, legend, pre, abbr {
    margin: 0;
    padding: 0
}

main li {
    margin-left: 0.75em;
}

pre {
    padding: 16px;
    overflow: scroll;
}

pre, code, address, caption, th, figcaption {
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 13px;
    font-weight: regular;
    font-style: normal
}

code {
    padding: .2em .4em;
    background-color: #f6f7f8;
    white-space: break-spaces;
    border-radius: 6px;
}

pre code {
    padding: 0;
    border-radius: 0;
    font-size: 100%;
}

fieldset, iframe, img {
    width: 100%;
    border: none
}

caption, th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, footer, header, nav, main, section, summary, details,
hgroup, figure, figcaption {
    display: block
}

audio, canvas, video, progress {
    display: inline-block;
    vertical-align: baseline
}

button {
    font: inherit;
    vertical-align: middle
}

nav {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}
