<footer role="contentinfo" class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <p class="copyright">© Pelagornis Inc</p>
        </div>
        <div class="footer-other">
            <aside>
                <a href="{{ '/sitemap.xml' | relative_url }}" title="sitemap" class="footer-other-item">RSS</a>
                <a href="https://github.com/pelagornis" title="Pelagornis Github" class="footer-other-item">Github</a>
            </aside>
        </div>
    </div>
</footer>