<header role="navbar">
    <div class="container container--default">
        <div class="container-inner">
            <div class="navbar-logo-containers">
                <a href="/" class="logo-icons">
                    <img src="/assets/images/pelagornis.svg" alt="Pelagornis" class="pelagornis-icons"/>
                    <span>StyleGuide</span>
                </a>
            </div>
            <div class="navbar-right-on-mobile">

            </div>
            <div class="navbar-content">
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
</header>