@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Light) format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Regular) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Medium) format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-SemiBold) format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Bold) format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-ExtraBold) format('ttf');
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Black) format('ttf');
    font-weight: 900;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}

.highlight {
    border-radius: 1em;
}


.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.container--default {
    max-width: 1140px;
    .container-inner {
        width: 92%;
        max-width: calc(100% - 48px);
    }
}

.container-inner {
    height: 100%;
    margin: 0 auto;
}

header[role="navbar"] {
    backdrop-filter: blur(24px);
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    .navbar-logo-containers {
        display: flex;
        align-items: center;
        margin-right: 24px;
        min-height: 60px;
        min-height: var(--navbar-height);
        .logo-icons {
            display: flex;
            .pelagornis-icons {
                max-height: 1.5rem;
                margin-right: 10px;
            }
        }
    }

}

main {
    max-width: 1440px;
    min-width: 320px;
    padding: 35px 30px 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;

    .p-title {
        text-align: center;
        margin-bottom: 1em;
    }
}

footer[role="contentinfo"] {
    background-color: #FFF;
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 0.75em;
        margin: auto 0.6rem;
        padding: 0.4rem 0;
        width: 100%;
    }

    aside {
        display: inline-flex;
        gap: 1.25em;
        margin: 0 0.4rem;
        padding: 0.2rem 0 0.6rem;
        .footer-other-item {
            color: black;
            font-size: small;
        }
    }
}
