@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Light) format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Regular) format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Medium) format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-SemiBold) format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Bold) format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-ExtraBold) format('ttf');
    font-weight: 800;
}

@font-face {
    font-family: "Inter";
    src: url(/assets/fonts/Inter-Black) format('ttf');
    font-weight: 900;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;   
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    font-weight: 400;
    margin-bottom: 1em;
}

.highlight {
    border-radius: 1em;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.container--default {
    max-width: 1140px;
    .container-inner {
        width: 92%;
        max-width: calc(100% - 48px);
    }
}

.container-inner {
    height: 100%;
    margin: 0 auto;
}

header[role="navbar"] {
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--color-navbar-border);

    .navbar-logo-containers {
        display: flex;
        align-items: center;
        margin-right: 24px;
        min-height: 60px;
        min-height: var(--navbar-height);
        .logo-icons {
            display: flex;
            .pelagornis-icons {
                max-height: 1.5rem;
                margin-right: 10px;
            }
            span {
                font-weight: 600;
                font-size: 16px;
            }
        }
    }
}

main {
    margin: auto;
    max-width: 1440px;
    min-width: 320px;
    padding: var(--navbar-height) 30px 0;
    min-height: 100vh;
    height: auto !important;
    height: 100%;

    .page {
        margin: auto;
        max-width: 700px;

        .page-header {
            margin-top: 2em;
    
            img {
                width: 100px;
                height: 100px;
                padding: 1em;
                border-radius: 20%;
                background-color: var(--color-navbar-border);
            }
        }
    }

    .p-title {
        text-align: center;
        margin: 2.5em 0 0;
        h1 {
            font-size: 2.5em;
            font-weight: 700;
        }
        p {
            font-size: 1em;
            font-weight: 500;
            color: #6C6C6C;
        }
    }

    .p-code-button {
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: var(--color-navbar-border);
        border-radius: 20%;
        transition: background .2s ease;

        &:hover {
            background-color: #00000025;
        }

        img {
            padding: 1em;
        }
    }

    .p-code-content {
        display: flex;
        margin: 5em auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .p-code-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1em;
            list-style: none;
            justify-content: center;
    
            .p-code-list-item {
                margin: 0;

            }
        }

        .p-git-release {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2em 0;
            padding: 1.5em 1em;
            background-color: var(--color-navbar-border);
            border-radius: 20px;

            img {
                width: 48px;
                height: 48px;
            }
            p {
                padding-left: 1em;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.dock {
    margin: 40px auto 0 auto;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .dock-container {
        display: flex;
        justify-content: center;
        background: var(--color-dock-background);
        padding: 10px 20px;
        border-radius: 25px;
        z-index: 1000;
        border: 1px solid var(--color-dock-border);

        .dock-list {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            white-space: nowrap;
            
            a {
                .dock-img {
                    transition: transform 0.2s;
                }

                &:hover .dock-img {
                    transform: scale(1.3);
                }

                .dock-link-active {
                    display: block;
                    width: 5px;
                    height: 5px;
                    background: black;
                    margin: auto;
                    border-radius: 9999px;
                }
            }
        }
    }
}


footer[role="contentinfo"] {
    margin: auto;
    max-width: 1440px;
    min-width: 320px;

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 0.75em;
        margin: auto 0.6rem;
        padding: 0.4rem 0;
        width: 100%;
    }

    aside {
        display: inline-flex;
        gap: 1.25em;
        margin: 0 0.4rem;
        padding: 0.2rem 0 0.6rem;
        .footer-other-item {
            color: black;
            font-size: small;
        }
    }
}
